name: Keep Alive Login

on:
  schedule:
    - cron: "0 3 1 */5 *"  # 每年的1月、6月、11月的1号凌晨3:00整
  workflow_dispatch:       # 支持手动触发

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Playwright
        run: |
          python -m pip install --upgrade pip
          python -m pip install requests
          python -m pip install playwright
          python -m playwright install chromium

      - name: Run Keep Alive Login
        env:
          SITE_ACCOUNTS: ${{ secrets.SITE_ACCOUNTS }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: |
          python login.py
